.caord {
  margin-top: 10px;
  margin-right: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  border-color:#3182CE;
  border-width: 2px;
 
  background: white;
  width:200px;
  height:100px;

}

@media (max-width: 600px) {
  .caord{
    width:800px ;
  }
}